DJANGO_SECRET_KEY=change-this-to-a-real-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,yourdomain.ru
CORS_ALLOWED_ORIGINS=http://localhost,http://127.0.0.1,http://localhost:5173,http://yourdomain.ru,https://yourdomain.ru
CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1,http://yourdomain.ru,https://yourdomain.ru
REDIS_HOST=redis
REDIS_PORT=6379
# CHANNEL_LAYER_BACKEND=inmemory - dev-mode
CHANNEL_LAYER_BACKEND=redis