# Env
# framework
Django>=4.2,<5.0
# auth
djoser
djangorestframework>=3.14
django-cors-headers

# asyn 
django-notifs
channels

# As AMQP is a two-way RPC protocol where the /
# client can send requests to the server and /
# the server can send requests to a client
pika

# takes Django and extends its abilities beyond HTTP - to handle WebSockets, chat protocols, IoT protocols, 
types-channels